---
layout: layouts/base.njk
title: Title Strings
---


hellos

{# <div class="flex mb-4">
    <div class="w-1/2 p-2">
        <div class="max-w-sm w-full lg:max-w-full lg:flex">
            <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-1 text-center overflow-hidden" style="background-image: url('/img/oof.jpg')" title="woman typing on a computer"></div>
            <div class="border-r border-b border-l border-orange-200 lg:border-l-0 lg:border-t lg:border-orange-200 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
                <div class="mb-8">
                    <p class="text-sm text-gray-600 flex items-center">
                        Blog Post
                    </p>
                    <div class="text-ray-900 font-bold text-xl mb-2">How to build an all inclusive funtional protfolio website</div>
                    <p class="text-gray-700 text-base">We are going deep, get your cutting edge tools ready because we are going to make this the best freaking blog that an individual can make, so what are you waiting for!?</p>
                </div>
                <div class="flex items-center justify-between">
                    <div class="text-sm">
                        <p class="text-gray-900 leading-none">Arturs Timofejevs</p>
                        <p class="text-gray-600">Nov 19</p>
                    </div>

                    <div>
                        <a href="" class="inline-block text-sm border rounded border-orange-300 px-4 py-2">
                            Read More 📖
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div> #}